// Navigation Styles here

nav {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap; 
    border-bottom: 2px dashed @navigation-border;
    padding-bottom: 10px;
    width:70%;

    h1 {
        padding-left: 64px;
    }
    div {
        display: flex;
        width: 35%;
        margin-right: 70px;
        justify-content: end;
    }
    a{
        width: 40%;
        line-height: 1.5;
        font-size: 1.6rem;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;    }
}






